.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.label {
    text-align: start;
    cursor: pointer;
}

.deleteButton {
    margin-left: 1rem;
}
